---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a  href={href}><slot /></a>

<style>
	a {
		position: relative;
		display: flex;
		place-content: center;
		text-align: center;

		gap: 0.8em;
		color: var(--accent-text-over);
		text-decoration: none;
		line-height: 1.1;
		overflow: hidden;
		white-space: nowrap;
        font-size: 1.5rem;
	}





</style>
