---
import Chat from "../components/Chat.vue";


---
<aside>
    <div class="fixed bottom-10 right-10 max-w-sm md:max-w-md  w-[100%]  z-10 pl-4 pb-4 pr-4 pt-2 bg-[--gray-999] shadow-2xl  ">

        <Chat  @sds="asda"  client:visible></Chat>
    </div>
</aside>
