---
import Chat from "../components/Chat.vue";


---
<aside>
    <div class="fixed bottom-4 md:bottom-10 right-8  md:right-[4rem] max-w-sm md:max-w-md  z-10 md:pl-4  pb-2 md:pr-4 pt-2 bg-[--gray-999] shadow-2xl  ">

        <Chat  @sds="asda"  client:visible></Chat>
    </div>
</aside>
