---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---

<aside >
	<h1 class="mb-14 text-center">Estoy listo para iniciar proyectos contigo! 👍 </h1>
	<CallToAction href="mailto:michael_h_p_@hotmail.com">
		Enviame un mensaje
		<Icon icon="paper-plane-tilt" size="1.2em" />
	</CallToAction>
	<CallToAction href="tel:+51 999766470">
		Llámame
		<Icon icon="phone" size="1.2em" />
	</CallToAction>
	<CallToAction href=" ">
		Linkedin
		<Icon icon="linkedin-logo" size="1.2em" />
	</CallToAction>
</aside>

<style>
	aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		min-height: 70dvh;
		padding: 5rem 1.5rem;
	}




</style>
