---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
import {Contacts} from "../data/contact";


---

<aside >
	<h1 class="mb-14 text-center">Estoy listo para iniciar proyectos contigo! 👍 </h1>
	<CallToAction href={Contacts.Email}>
		Enviame un mensaje
		<Icon icon="envelope-open" size="1.2em" />
	</CallToAction>
	<CallToAction href={Contacts.Phone}>
		Llámame
		<Icon icon="phone" size="1.2em" />
	</CallToAction>
	<CallToAction href={Contacts.Linkedin}>
		Linkedin
		<Icon icon="linkedin-logo" size="1.2em" />
	</CallToAction>
</aside>

<style>
	aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		min-height: 70dvh;
		padding: 5rem 1.5rem;
	}




</style>
