---
import Icon from './Icon.astro';
const currentYear = new Date().getFullYear();
---

<footer>
	<div class="group">
		<p>&copy; {currentYear} Michael Huahuasoncco</p>
		<p>
			 Developed with <a href="https://astro.build/" style="color: white !important">Astro</a>

		</p>

	</div>

</footer>
<style>
	footer {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		background-color: var(--gray-0);
		padding: 3rem 2rem 3rem;
		text-align: center;
		color: var(--gray-900);
		font-size: 0.75rem;
	}



	.group {

		display: flex;
		flex-direction: column;
		gap: 0.5rem;

	}




</style>
