---
import Icon from './Icon.astro';
const currentYear = new Date().getFullYear();
---

<footer>
	<div class="group">
		<p>
			Designed & Developed with <a href="https://astro.build/" style="color: white !important">Astro</a>
			<Icon icon="rocket-launch" size="1.2em" />
		</p>
		<p>&copy; {currentYear} Michael Huahuasoncco</p>
	</div>

</footer>
<style>
	footer {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		background-color: black;
		padding: 3rem 2rem 3rem;
		text-align: center;
		color: white;
		font-size: var(--text-sm);
	}



	.group {

		display: flex;
		flex-direction: column;
		gap: 0.5rem;

	}




</style>
