---

import Pill from "./Pill.astro";
import Icon from "./Icon.astro";
---

<div class="grid md:grid-cols-2">
    <div class="">
        <h1>Hola, soy Michael</h1>
        <article class="intro">
            <p class="mb-2" >
                Soy un desarrollador de software apasionado por los lenguajes de tipado estático y el desarrollo de software
                mantenible, organizado y escalable.✨
            </p>
            <p class="mb-2" >
                Me gusta escribir código no solo funcional sino también legible para
                otros desarrolladores y siempre siguiendo los principios de la ingeniería de software. 👨‍💻 🤝
            </p>
            <p class="mb-2" >
                Interesado en expandir mis conocimientos en arquitectura de software. 💡
            </p>
        </article>

        <div class="tags">
            <Pill><Icon icon="pdf" size="1.33em" />
                <a style="color:var(--gray-0) " href="/pdf/CurrículumMichaelHuahuasoncco.pdf" download="CurrículumMichaelHuahuasoncco.pdf">Descarga mi Currículum</a>
                </Pill>
        </div>
    </div>

    <div class="flex items-center justify-center" >
        <img class="h-80"  src="/assets/profile.jpg" alt="Michael Huahuasoncco" loading="lazy" decoding="async" />
    </div>

</div>

<style>
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .intro{
       margin: 1rem 0 2rem 0;
    }

    .tags{
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

    }

</style>
