---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="typescript-logo" color="var(--gray-0)"   size="2.5rem"   />
		<h2>Typescript</h2>
		<p>Tener undefined o null como tipo de dato es maravillo,
		   creo que la mejor manera de definir incertidumbre. </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="file-code" color="var(--gray-0)" size="2.5rem"   />
		<h2>Clean code</h2>
		<p>Escribir codigo para humanos es los que me motiva,
			Dicen que es mejor algo que se puede cambiar que algo
			que funcione y no se pueda cambiar.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="music" color="var(--gray-0)" size="2.5rem"   />
		<h2>Audiophile</h2>
		<p>Mi Hobbi, que permite descrubior los detalles que no pueden ver los que solo les
		interesa que funciea.</p>
	</div>
</section>



<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
