---
import Icon from './Icon.astro';
---

<section class="grid grid-cols-1  lg:grid-cols-3 box gap-8">
	<div class="flex flex-col gap-2  ">
		<Icon icon="typescript-logo" color="var(--gray-0)"   size="2.5rem"   />
		<h2>Typescript</h2>
		<p>Valoro la capacidad de utilizar explícitamente undefined y null como tipos de datos.
			Esto me permite escribir código más claro y prevenir errores,
			asegurando una mejor gestión de los casos no definidos o vacíos.</p>
	</div>
	<div class="flex flex-col gap-2  ">
		<Icon icon="file-code" color="var(--gray-0)" size="2.5rem"   />
		<h2>Clean code</h2>
		<p>Tratar de escribir código para humanos es lo que me gusta.
			Dicen que es mejor algo que se pueda cambiar que algo
			que funcione y no se pueda cambiar.</p>
	</div>
	<div class="flex flex-col gap-2  ">
		<Icon icon="music" color="var(--gray-0)" size="2.5rem"   />
		<h2>Audiophile</h2>
		<p>Mi pasión por descubrir los detalles más finos en la música,me hace apreciar las sutilezas en el desarrollo de software  </p>
	</div>
</section>



<style>
	.box {
		border: 1px solid var(--gray-800);
		padding: 2rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}



	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}


</style>
